{% extends "Index.html" %}

{% block content %}
    <h2><b>Welcome to ChatMuch</b></h2>
    <!-- This is where we will load the feed content-->
    <div id="feed">

    </div>
    <div>
        <h3><b>Make a Post</b></h3>
        <form method="post" id="postForm" style="flex-direction: row;">
            <label for="postContent"></label>
            <input type ="text" id="postConent" name="postContent" required placeholder="What's the tea, chat much about it ?">
            <button type="submit">Post</button>
        </form>
    </div>
{% endblock %}