{% extends "Index.html" %}
{% block title %}Messages{% endblock %}
{% block content %}
    <p>Who would you like to directly message today?</p>
    <form flex-container style="flex-direction: row;" method="post" id="userForm">
        <label for="userSearch">Search for a user:</label>
        <input id="user-search" type="text" id="userSearch" required placeholder="John Smith" name="userSearch">
        <button type="submit">Search</button>
    </form>

    <div id="MessageList">

    </div>

    <div id="MessagesLog">
        
    </div>
{% endblock %}